.dashboard-container {
  padding: 20px;
    background:white;
    justify-content: center;
    
}
.dashboard {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: larger;
}
.logout {
  padding: 10px ;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.input1 {
  width: 200px;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  border: 2px solid #efe9e9;
  border-radius: 5px;
}
.input2 {
  width: 200px;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  border: 2px solid #efe9e9;
  border-radius: 5px;
}
.item-row{
    display: flex;
    align-items: center;
    gap: 15px;
}
.editbutton {
  padding: 5px 10px;
  background: #75c388;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.editbutton:hover {
  background: #0d7f0d;
}
.deletebutton {
  padding: 5px 10px;
  background: #c88080;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.deletebutton:hover {
  background: #8f0d0d;
}

